@import 'Variables';

.contacto {
    .line {
        width: 0px;
        height: 3px;
        background-color: $secondary-color;
        display: block;
    }

    &__lottie {
        max-width: 100%;
        width: 400px;
        height: 300px;
        overflow-y: hidden;
    }

    @include small-screen {
        &__lottie {
            width: auto;
            height: 100px;
        }
    }

}