@import 'Variables';

.contacto {
    &__lottie {
        max-width: 100%;
        width: 400px;
        height: 300px;
        overflow-y: hidden;
    }

    @include small-screen {
        &__lottie {
            width: auto;
            height: 100px;
        }
    }

}